/* import google FONTS */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

/* uso general */
* {
  font-family: "Source Sans Pro", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;

  list-style-type: none;
}
/* el tamaño general de la fuente en toda la pag */
html {
  font-size: 62.5%;
}

/* classic css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #465aa7;
}

h1 {
  font-size: 10rem;
  letter-spacing: 1rem;
  font-style: italic;
  color: #94174d;
  /* margin: 4rem 0; */
}

/* Rem es relativo al size de la fuente */
.searchForm {
  width: 60rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfa8a8bd;
  border-radius: 0.5rem;
  margin-bottom: 5rem;
  position: relative;
}

.searchForm input {
  font-size: 1.6rem;
  border: none;
  margin: 0 0.5rem;
  border-radius: 5px;
  height: 3rem;
}

/* Se puede especificar en el mismo form */
/* a que parte le quiero aplicar el CSS */
.searchForm input[type="text"] {
  padding: 0 0.5rem;
  width: 60%;
}

.searchForm input[type="submit"] {
  width: 20%;
  background-color: #ce7171;
}

.recipes {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.recipe {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 3rem;
  background-color: #c4b5b5;
  padding: 15px;
  position: relative;
  border-radius: 5px;
}

.recipe h2 {
  background-color: #e26060;
  /* opacity da transparencia */
  opacity: 0.9;
  border-radius: 0.5rem;
  padding: 0.3rem 0.5rem;
  /* posicion absoluta para que este dentro de la imagen */
  position: absolute;
  top: 2.5rem;
  left: 2.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  font-weight: 400;
  color: #ffffff;
}

.recipe img {
  border-radius: 0.5rem;
  /* object fit establece cómo se debe cambiar el tamaño del
  contenido para que se ajuste al container. 
  Hay fill, contain, cover, none, y scale-down*/
  object-fit: cover;
}

.recipe a {
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  background-color: #aa5151;
  margin: 0.2rem;
  border-radius: 0.5rem;
}

.recipe button {
  font-size: 2rem;
  color: #fff;
  background-color: #aa5151;
  border: none;
  border-radius: 0.5rem;
  height: 3rem;
}

.ingredientList {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredientList li {
  margin: 0.5rem 0;
}

.ingredientText {
  font-size: 1.5rem;
  color: #888;
}

.ingredientWeight {
  color: #40b48e;
  font-size: 1.3rem;
}

.alerter {
  position: absolute;
  top: 8rem;
  background-color: #ecc478;
  width: 90%;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.alerter h3 {
  font-size: 1.8rem;
  color: #000000;
  font-weight: 400;
  text-align: center;
}
